<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>396218703338-vcs17v80nd1urm83rns4rm18u7n2ie7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396218703338-vcs17v80nd1urm83rns4rm18u7n2ie7a</string>
	<key>API_KEY</key>
	<string>AIzaSyBVozGv4zfcROydWW3ivqS7ne4On1jkIik</string>
	<key>GCM_SENDER_ID</key>
	<string>396218703338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.ldcc.wave</string>
	<key>PROJECT_ID</key>
	<string>lmessage-wave</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessage-wave.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:396218703338:ios:c4b8e90eeea6bbe0</string>
	<key>DATABASE_URL</key>
	<string>https://lmessage-wave.firebaseio.com</string>
</dict>
</plist>